/* Device pixel densities based on:               */
/* - Test for CSS by @marcedwards from @bjango                      */
/* (http://bjango.com/articles/min-device-pixel-ratio/)             */
/* - Retina Display Media Query                                   */
/* (https://css-tricks.com/snippets/css/retina-display-media-query/)*/
/* 1 dpr */
@media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 120dpi) {
  .list-border {
    border-bottom: solid 1px #e8e8e8; } }
/* 1.25 dpr */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .list-border {
    border-bottom: solid 1px #e8e8e8; } }
/* 1.3 dpr */
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
  .list-border {
    border-bottom: solid 1px #e8e8e8; } }
/* 1.5 dpr */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .list-border {
    border-bottom: solid 1px #e8e8e8; } }
/* 2 dpr */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .list-border {
    border-image: url(e8e8e8.png) 2 repeat;
    border-width: 1px; } }
/* 3 dpr For iPhone 6 plus and similar devices */
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx), (min-resolution: 350dpi) {
  .list-border {
    border-image: url(e8e8e8.png) 2 repeat;
    border-width: 1px; } }
* {
  box-sizing: border-box; }

body {
  word-wrap: break-word; }

.unstyled {
  margin: 0;
  padding: 0;
  border: none; }

ul.unstyled, ol.unstyled {
  list-style: none; }

body {
  margin: 0;
  padding-bottom: 48px; }

ul.pm_list {
  list-style: none;
  padding: 0; }
  ul.pm_list > li {
    margin: 12px; }

li.s_clear > * {
  float: left; }
li.s_clear.self > * {
  float: right; }
li.s_clear::before, li.s_clear::after {
  content: ' ';
  display: block;
  clear: both; }
li.s_clear a.avatar > img {
  width: 38px;
  height: 38px; }
li.s_clear div.summary {
  display: inline-block;
  position: relative;
  padding: 12px;
  line-height: 1.5;
  border-radius: 5px;
  max-width: 60%;
  background: #E2E2E2;
  margin-left: 12px;
  margin-right: 0; }
  li.s_clear div.summary img {
    max-width: 100%; }
  li.s_clear div.summary::before {
    content: ' ';
    display: block;
    position: absolute;
    left: -12px;
    top: 12px;
    border-width: 6px;
    border-right-color: #E2E2E2;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
li.s_clear.self div.summary {
  background: #79D8FF;
  margin-right: 12px;
  margin-left: 0; }
  li.s_clear.self div.summary::before {
    display: none; }
  li.s_clear.self div.summary::after {
    content: ' ';
    display: block;
    position: absolute;
    right: -12px;
    top: 12px;
    border-width: 6px;
    border-left-color: #79D8FF;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent; }

li.pm_date {
  text-align: center;
  font-size: 12px; }
  li.pm_date strong {
    background: #c8c8c8;
    padding: 4px;
    color: white;
    border-radius: 3px; }

span.action {
  display: none; }

p.cite {
  display: none; }

/*# sourceMappingURL=chats.css.map */
