<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <script>
    window.isScrolling = false

    window._postsData = {
      selected: [],
      posts: [],
      title: '',
      url: '',
      prepareRender: false,
      selected: [],
      postsStyle: {
        selection: false,
        theme: 'green',
        fontsize: 'normal',
        showSig: false,
        showProfileImage: true
      },
      onSelect: function (selected) {
        UZLEE.onSelect(selected.join(','))
      }
    }
    </script>
</head>

<body>
<h3 id="title" v-if="prepareRender" v-show="prepareRender" style="display: none;">{{title}}</h3>
<posts :posts="posts" :posts-style="postsStyle" :on-select="onSelect" :prepare-render="prepareRender" :selected="selected"></posts>
<div id="footer" v-if="prepareRender" v-show="prepareRender" style="display: none;">
  <p>{{url}}</p>
  <p>来自D版带着爱&nbsp;&nbsp;&nbsp;有只梨</p>
</div>
<script src="dist/posts.bundle.js"></script>
</body>
</html>