ul {
    list-style: none;
    padding: 0;
}

li.s_clear > * {
    float: left;
}

li.self.s_clear > * {
    float: right;
}

li.s_clear::before, li.s_clear::after {
    content: ' ';
    display: block;
    clear: both;
}

li.pm_date {
    text-align: center;
    font-size: 12px;
}

li.pm_date strong {
    background: #c8c8c8;
    padding: 4px;
    color: white;
    border-radius: 3px;

}

span.action {
    display: none;
}

p.cite {
    /* display: block; */
    /* width: 10px; */
    overflow: auto;
    font-size: 12px;
    margin: 0 auto;
}

p.cite cite {
    display: none;
}

p.cite * {
    font-style: normal;
    font-size: 12px;
}

div.summary {
    display: inline-block;
    padding: 12px;
    line-height: 1.5;
    border-radius: 5px;
    max-width: 60%;
    background: #E2E2E2;
}

div.summary img {
    max-width: 100%;
}

.self div.summary {
    background: #79D8FF;
}

.pm_list > li {
    margin: 12px;
}