$purpleDark:    #1b122a;
$purpleMain:    #3b2d66;
$purpleLight:   #735fa9;
$warmDark:      #814a59;
$warmMain:      #9d5b5e;
$warmLight:     #d19996;
$borderColor:   #e8e8e8;

body {word-wrap: break-word;}
a {color: $warmMain;}

.unstyled {
    margin: 0;
    padding: 0;
    border: none;
}

ul.unstyled, ol.unstyled {
    list-style: none;
}
