<manifest
    package="com.ladjzero.uzlee"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="9"
    android:versionName="0.5.2">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:theme="@style/AppBaseTheme"
        android:label="@string/app_name">

        <activity
            android:name=".ActivityLogin"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMain"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ActivityPosts"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="">
        </activity>
        <activity
            android:name=".ActivityEdit"
            android:label="@string/title_activity_reply"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ActivityMyPosts"
            android:label="@string/title_activity_my_posts">
        </activity>
        <activity
            android:name=".ActivitySearch"
            android:label="">
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="设置">
        </activity>
        <activity
            android:name=".ActivityAlerts"
            android:label="消息">
        </activity>
        <activity
            android:name=".ActivityUser"
            android:label="个人信息">
        </activity>
        <activity
            android:name=".ActivityThreads"
            android:label="@string/title_activity_threads">
        </activity>
        <activity
            android:name=".ActivityChat"
            android:label="聊天"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ActivityForumPicker"
            android:label="板块">
        </activity>
    </application>

</manifest>