$redPrimary       :#ca463e;
$redSecondary     :#e19a89;
$carrotPrimary    :#cd7034;
$carrotSecondary  :#ddaf86;
$orangePrimary    :#dfb338;
$orangeSecondary  :#e7d180;
$greenPrimary     :#56a08b;
$greenSecondary   :#9dc8bd;
$blueGreyPrimary  :#5c7ea6;
$blueGreySecondary:#90a8c4;
$bluePrimary      :#4286cb;
$blueSecondary    :#92badc;
$darkPrimary      :#343440;
$darkSecondary    :#8f8f96;
$purplePrimary    :#8d6c9d;
$purpleSecondary  :#beadc7;
$nightPrimary     :#202020;
$nightSecondary   :#828282;
$nightTextPrimary :#969696;
$nightTextMinor   :#464646;

$themes: ('red', 'carrot', 'orange', 'green', 'blueGrey', 'blue', 'dark', 'purple', 'night');

$fontSizes: (
    'font-size-normal': 16px,
    'font-size-big'   : 20px,
    'font-size-bigger': 24px
);

$primaries: (
    'red': $redPrimary,
    'carrot': $carrotPrimary,
    'orange': $orangePrimary,
    'green': $greenPrimary,
    'blueGrey': $blueGreyPrimary,
    'blue': $bluePrimary,
    'dark': $darkPrimary,
    'purple': $purplePrimary,
    'night': $nightPrimary
);



$primary-purple:#8d6c9d;
$borderColor:   #e8e8e8;
$nameColor:     #686868;
$dateColor:     #c8c8c8;
$actionColor:   #484848;
$actionBgColor: #c8c8c8;

$profile-height: 38px;
$toolbar-height: 48px;

/* Device pixel densities based on:               */
/* - Test for CSS by @marcedwards from @bjango                      */
/* (http://bjango.com/articles/min-device-pixel-ratio/)             */
/* - Retina Display Media Query                                   */
/* (https://css-tricks.com/snippets/css/retina-display-media-query/)*/

.list-border:last-child {
    border-bottom: none;
}

.list-border {
    border-style: solid;
    border-color: #e8e8e8;
}

.night .list-border {
    border-color: rgba(232, 232, 232, .5)
}

/* 1 dpr */
@media
 (-webkit-min-device-pixel-ratio: 1),
 (min-resolution: 120dpi){
    .list-border {
        border-width: 0 0 1px;
    }
}

/* 1.25 dpr */
@media
 (-webkit-min-device-pixel-ratio: 1.25),
 (min-resolution: 120dpi){
    .list-border {
        border-width: 0 0 1px;
    }
}

/* 1.3 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.3),
(min-resolution: 124.8dpi){
    .list-border {
        border-width: 0 0 1px;
    }
}

/* 1.5 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    .list-border {
        border-width: 0 0 1px;
    }
}

/* 2 dpr */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .list-border {
        border-style: none;
        border-image: url(e8e8e8.png) 2 repeat;
        border-width: 0 0 1px;
    }
}

/* 3 dpr For iPhone 6 plus and similar devices */
@media
(-webkit-min-device-pixel-ratio: 3),
(min-resolution: 3dppx), /* Default way */
(min-resolution: 350dpi) /* dppx fallback */ {
    .list-border {
        border-style: none;
        border-image: url(e8e8e8.png) 2 repeat;
        border-width: 0 0 1px;
    }
}

* {box-sizing: border-box;}
body {word-wrap: break-word;}

html body {
    overflow-x: hidden;
}

.unstyled {
    margin: 0;
    padding: 0;
    border: none;
}

ul.unstyled, ol.unstyled {
    list-style: none;
}

.night {
    img {
        opacity: .6;
    }

    .profile-wrapper {
        opacity: .6;
    }
}