$redPrimary       :#ca463e;
$redSecondary     :#e19a89;
$carrotPrimary    :#cd7034;
$carrotSecondary  :#ddaf86;
$orangePrimary    :#dfb338;
$orangeSecondary  :#e7d180;
$greenPrimary     :#56a08b;
$greenSecondary   :#9dc8bd;
$blueGreyPrimary  :#5c7ea6;
$blueGreySecondary:#90a8c4;
$bluePrimary      :#4286cb;
$blueSecondary    :#92badc;
$darkPrimary      :#343440;
$darkSecondary    :#8f8f96;
$purplePrimary    :#8d6c9d;
$purpleSecondary  :#beadc7;
$nightPrimary     :#252525;
$nightSecondary   :#828282;
$nightTextPrimary :#585858;
$nightTextMinor   :#464646;

$themes: ('red', 'carrot', 'orange', 'green', 'blueGrey', 'blue', 'dark', 'purple', 'night');

$fontSizes: (
    'font-size-normal': 16px,
    'font-size-big'   : 20px,
    'font-size-bigger': 24px
);

$primaries: (
    'red': $redPrimary,
    'carrot': $carrotPrimary,
    'orange': $orangePrimary,
    'green': $greenPrimary,
    'blueGrey': $blueGreyPrimary,
    'blue': $bluePrimary,
    'dark': $darkPrimary,
    'purple': $purplePrimary,
    'night': $nightPrimary
);

$profile-height: 38px;
$toolbar-height: 48px;
* {box-sizing: border-box;}
body {word-wrap: break-word;}

html body {
    overflow-x: hidden;
}

.unstyled {
    margin: 0;
    padding: 0;
    border: none;
}

ul.unstyled, ol.unstyled {
    list-style: none;
}

.night {
    img {
        opacity: .6;
    }

    .profile-wrapper {
        opacity: .6;
    }
}